@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* 
			================= BODY =================
*/
body{
owverflow-x: hidden;
owverflow-y: hidden;
max-width: 100%; 
height: auto;

	color: #f1f1f1;
  	/* Basic dimensions and centering */
  	display: flex;
  	justify-content: center;
  	align-items: center;

  	/* Dark mode colors and gradient */
 	 background: #000000; /* Fallback for browsers that don't support gradients */
  	background: linear-gradient(
    0deg,
    #000000 25%,
    #202020 25%,
    #202020 50%,
    #000000 50%,
    #000000 75%,
    #202020 75%,
    #202020
  	);
  	background-size: 100px 100px;

  	/* Animation */
  	animation: move 1s linear infinite;
	font-family: Montserrat;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}

.clicker {
	/*Disable selection and drag*/
	-webkit-touch-callout: none;
        
	/*Revome buttons borders and otlines*/
	outline: none;
	border: none;
	background-color:#20202050;/*white*/
	
	/*Size*/
	border-radius: 50%;
	width:200px;
	height:200px;
	/* Position */
	position: absolute;/*                postulat de départ */
	top: 50%; left: 50%;/*               à 50%/50% du parent référent */
	transform: translate(-50%, -50%);/*  décalage de 50% de sa propre taille */
	/* Animation */
}

.clicker:active {
	/*Shadow, color transition*/
	background-color: #000000;
	transition: all 5s;

	width:210px;
	height:210px;
	transition: all 0.1s;
}

.logo {
	/*Size*/
	border-radius: 10%;
	width:100px;
	height:100px;
	/* Position */
	position: absolute;/*                postulat de départ */
	top: 53%; left: 50%;/*               à 50%/50% du parent référent */
	transform: translate(-50%, -50%);/*  décalage de 50% de sa propre taille */
	/* Animation */
	transition: width 0.3s, height 0.3s;
}

.logo:active {
	width:110px;
	height:110px;
	transition: all 0.1s;
}

.bord {
	background-color:#000000;/*white*/
	/*Size*/
	border-radius: 50%;
	width:215px;
	height:215px;
	/* Position */
	position: absolute;/*                postulat de départ */
	top: 50%; left: 50%;/*               à 50%/50% du parent référent */
	transform: translate(-50%, -50%);/*  décalage de 50% de sa propre taille */
	/* Animation */
	transition: width 0.3s, height 0.3s;
}

.bord:active {
	width:220px;
	height:220px;
	transition: all 0.1s;
}

.container { 	
	/*Disable selection and drag*/
	-webkit-touch-callout: none;
        
	/*Revome buttons borders and otlines*/
	outline: none;
	border: none;
	background-color: #0a0a0a;/*white*/
	
	/*Size*/
	border-radius: 10px;
	width:440px;
	height:100px;
	/* Position */
	position: absolute;/*                postulat de départ */
	top: 93%; left: 50%;/*               à 50%/50% du parent référent */
	transform: translate(-50%, -50%);/*  décalage de 50% de sa propre taille */
	/* Animation */
}

.text {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 20px;

 	display: flex;
  	justify-content: center;
  	transform: translate(0, 50%);
}
